 @font-face {
    font-family: "robot";
    src: url(../public/fonts/robot.otf);
 }

 body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0, 128, 128, 1) 100%) ;
 } 

 h1 {
    font-family: "robot";
    color: rgba(0, 128, 128, 0.8);
    font-size:40px;
 }
